*{
    margin: 0px;
    padding: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/istockphoto-1162166565-612x612.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.navlinks ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5;
}
.navlinks ul li:hover::after{
    width: 100%;
}

.textbox {
    width: 90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff; 
}
.herobtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.herobtn:hover{
    border: 1px solid red;
    background: #f44336;
    transition: 1s;
}
@media (max-width: 700px) {
    .textbox h1{
        font-size: 20px;
    }
    .navlinks ul li{
        display: block;
    }
    .navlinks{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}


/*-------------- Course ----------------*/

.couse{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.coursecol{
    flex-basis: 31%;
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.coursecol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .5);
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    
}


/* -----------Campus---------- */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campuscol{
    height: 50vh;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campuscol img{
    width: 100%;
    height: 100%;
    display: block;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(209, 150, 150, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



/* ------Facilities-------- */

.facilities{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilitiescol{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilitiescol img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.facilitiescol p{
    padding: 0;
}
.facilitiescol h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}



/* --------Testimonials-------------- */

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonialscol{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonialscol img{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonialscol p{
    padding: 0%;
}
.testimonialscol h3{
    
}